# ** RUBY

export GEM_HOME="$PWD/.local/gem"
export PATH="$GEM_HOME/bin:$PATH"

# NPM
export NPM_HOME="$PWD/.local/npm"
export NPM_CONFIG_PREFIX="$NPM_HOME"
export NPM_CONFIG_USERCONFIG="$NPM_HOME/config"
export NPM_CONFIG_CACHE="$NPM_HOME/cache"
export PATH="$NPM_HOME/bin":$PATH

# load .env
[[ -f $PWD/.env ]] && eval $(cat .env | sed 's/^/export /')
